.leader-ability {
  font-style: italic;
}

.content {
  padding: 16px;
  overflow: auto;
  height: calc(100% - 48px);
}

.header {
  display: flex;
  align-items: center;

  button {
    margin-left: 16px;
  }
}

.controls {
  width: 100%;
  height: 48px;
  padding: 16px;
  background: lightgreen;
  display: flex;
  align-items: center;
}
