<ng-container *ngIf="vm$ | async as vm">
  <nav class="controls">
    <h1>Lorenzo il Magnifico</h1>
    <core-search-input class="search"
      placeholder="Enter name or number"
      [text]="vm.text"
      (textChange)="search($event)"
    ></core-search-input>
  </nav>

  <div class="content">
    <div class="section leaders">
      <div class="header">
        <h2>Leader Cards ({{ vm.filteredLeaders.length }} / {{ leaders.length }})</h2>
        <button (click)="showLeaders = !showLeaders">
          {{ showLeaders ? 'Collapse' : 'Expand' }}
        </button>
      </div>
      <ul [hidden]="!showLeaders"
        class="cards"
      >
        <li ui-leader
          *ngFor="let leader of vm.filteredLeaders; trackBy: leaderTrackByFn"
          class="card leader"
          [name]="leader.name"
          [requirement]="leader.requirement"
          [ability]="leader.ability"
          [type]="leader.type"
        ></li>
        <li *ngIf="!vm.filteredLeaders.length">
          No matching cards
        </li>
      </ul>
    </div>

    <div class="section developments">
      <div class="header">
        <h2>Development Cards ({{ vm.filteredDevelopments.length }} / {{ developments.length }})</h2>
        <button (click)="showDevelopments = !showDevelopments">
          {{ showDevelopments ? 'Collapse' : 'Expand' }}
        </button>
      </div>
      <ul [hidden]="!showDevelopments"
        class="cards"
      >
        <li *ngFor="let development of vm.filteredDevelopments; trackBy: developmentTrackByFn"
          class="card"
          ui-development
          [data]="development"
        ></li>
        <li *ngIf="!vm.filteredDevelopments.length">
          No matching cards
        </li>
      </ul>
    </div>
  </div>
</ng-container>
