<ng-container *ngIf="vm$ | async as vm">
  <nav class="controls">
    <h1>Lorenzo il Magnifico</h1>
    <div class="search">
      <input type="text"
        #input
        coreAutofocus
        placeholder="Enter name or number"
        [ngModel]="vm.text"
        (ngModelChange)="search($event)"
      />
      <button class="clear"
        #input
        (click)="clear()"
      >
        Clear
      </button>
    </div>
  </nav>

  <div class="content">
    <div class="section leaders">
      <div class="header">
        <h2>Leader Cards ({{ vm.filteredLeaders.length }} / {{ leaders.length }})</h2>
        <button (click)="showLeaders = !showLeaders">
          {{ showLeaders ? 'Collapse' : 'Expand' }}
        </button>
      </div>
      <ul [hidden]="!showLeaders"
        class="cards"
      >
        <li *ngFor="let leader of vm.filteredLeaders; trackBy: leaderTrackByFn"
          class="card card--leader"
        >
          <h4>{{ leader.name }}</h4>
          <p>
            <span class="prop">Requirement: </span>
            {{ leader.requirement }}
          </p>
          <p>
            <span class="prop">Ability (<span class="leader-ability">{{ leader.type }}</span>): </span>
            {{ leader.ability }}
          </p>
        </li>
        <li *ngIf="!vm.filteredLeaders.length">
          No matching cards
        </li>
      </ul>
    </div>

    <div class="section developments">
      <div class="header">
        <h2>Development Cards ({{ vm.filteredDevelopments.length }} / {{ developments.length }})</h2>
        <button (click)="showDevelopments = !showDevelopments">
          {{ showDevelopments ? 'Collapse' : 'Expand' }}
        </button>
      </div>
      <ul [hidden]="!showDevelopments"
        class="cards"
      >
        <li *ngFor="let development of vm.filteredDevelopments; trackBy: developmentTrackByFn"
          class="card"
          [class.card--territory]="development.type === 'territory'"
          [class.card--building]="development.type === 'building'"
          [class.card--character]="development.type === 'character'"
          [class.card--venture]="development.type === 'venture'"
        >
          <h4>{{ development.id }}</h4>
          <p>
            <span class="prop">
              Type:
            </span>
            {{ development.type }}
          </p>
          <p>
            <span class="prop">
              Cost:
            </span>
            {{ development?.cost ?? 'Free' }}
          </p>
          <p>
            <span class="prop">
              Immediate effect:
            </span>
            {{ development.immediateEffect }}
          </p>
          <p>
            <span class="prop">
              Permanent effect:
            </span>
            {{ development.permanentEffect }}
          </p>
        </li>
        <li *ngIf="!vm.filteredDevelopments.length">
          No matching cards
        </li>
      </ul>
    </div>
  </div>
</ng-container>
