@import "main";

:host {
  display: block;
  background: $white;
  padding: spacing(16) spacing(12);
  border-left: border(thin) solid transparent;
  border-right: border(thin) solid transparent;
  border-radius: border(radius);
  box-shadow: box-shadow(lightest);
}

:host(.active) {
  border-left-color: color($neutral, 4);
}
