<button class="new-button"
  *ngIf="!adding; else addFormTemplate"
  app-button
  buttonStyle="secondary"
  (click)="adding = true"
  >
  <fa-icon [icon]="addNewIcon">
  </fa-icon>
  New {{name}}
</button>
<ng-template #addFormTemplate>
  <form #form="ngForm"
    (ngSubmit)="submitForm(form)"
    >
    <app-input>
      <input type="text"
        appAutofocus
        required
        [name]="name"
        [(ngModel)]="model"
      />
    </app-input>
    <button app-button
      type="submit"
      [disabled]="!model"
      >
      Add
    </button>
    <button app-button
      buttonStyle="ternary"
      (click)="resetForm(form)"
      >
      Cancel
    </button>
  </form>
</ng-template>
