<app-card>
  <app-tags-list
    *ngIf="tags.length; else noTagsTemplate"
    class="tags"
    [tags]="tags"
    [interactive]="true"
  >
    <ng-container *appTagDef="let tag">
      <app-checkbox
        [name]="tag.id"
        [ngModel]="selected.includes(tag.id)"
        (ngModelChange)="onTagChange(tag.id, $event)"
      >
        <app-tag
          [id]="tag.id"
          [name]="tag.name"
        ></app-tag>
      </app-checkbox>
    </ng-container>
    <li>
      <button app-button
        buttonStyle="ternary"
        [disabled]="!selected.length"
        (click)="selectedClear.emit()"
      >
        Clear All
      </button>
    </li>
  </app-tags-list>
  <ng-template #noTagsTemplate>
    <p>No filters to display</p>
  </ng-template>
</app-card>
