<app-meals-list>
  <app-meal-card *appMealDef="
      let meal;
      let activeMeal = activeMeal;
      let fallbackText = fallbackText;
      let orientation = orientation;
    "
    [id]="meal.id"
    [name]="meal.name"
    [description]="meal.description"
    [dishes]="meal.dishes"
    [tags]="meal.tags"
    [active]="meal === activeMeal"
    [fallbackText]="fallbackText"
    [orientation]="orientation"
  ></app-meal-card>
</app-meals-list>

<section>
  <router-outlet></router-outlet>
</section>
