<ng-container *ngIf="menu$ | async as menu">
  <ng-container *ngIf="menu !== 'INVALID'; else invalidMenuTemplate">
    <ng-container *ngIf="view$ | async as view">
      <app-planner-dishes class="left"
        *ngIf="view === 'dishes'"
        [menu]="menu"
        (nameDblClick)="updatePlannerView('meals')"
      ></app-planner-dishes>
      <app-planner-meals class="left"
        *ngIf="view === 'meals'"
        [menu]="menu"
        (nameDblClick)="updatePlannerView('dishes')"
      ></app-planner-meals>
    </ng-container>
    <app-planner-menu class="right"
      [menu]="menu"
    ></app-planner-menu>
  </ng-container>

  <ng-template #invalidMenuTemplate>
    <app-empty-view-placeholder
      headerText="Invalid Menu"
      messageText="Please select a different menu to view the planner."
    >
      <a app-button
        routerLink="/menus"
      >
        Go To Menus
      </a>
    </app-empty-view-placeholder>
  </ng-template>
</ng-container>
