@import "main";

:host {
  display: grid;
  place-items: center;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
}

.header {
  font-size: font-size(30);
  margin-bottom: spacing(16);
}

.message {
  margin-bottom: spacing(24);
}
