<nav class="container">
  <a class="link"
    [routerLink]="plannerRoute$ | async"
    routerLinkActive="link--active"
  >
    Planner
  </a>
  <a class="link"
    [routerLink]="Route.menus"
    routerLinkActive="link--active"
  >
    Menus
  </a>
  <a class="link"
    [routerLink]="Route.meals"
    routerLinkActive="link--active"
  >
    Meals
  </a>
  <a class="link"
    [routerLink]="Route.dishes"
    routerLinkActive="link--active"
  >
    Dishes
  </a>
  <a class="link"
    [routerLink]="Route.tags"
    routerLinkActive="link--active"
  >
    Tags
  </a>
  <a *ngIf="showDemo"
    class="link"
    [routerLink]="Route.demo"
    routerLinkActive="link--active"
  >
    Demo
  </a>
  <a class="link"
    [routerLink]="Route.settings"
    routerLinkActive="link--active"
  >
    Settings
  </a>
</nav>
