@import 'typography';
@import 'colors';
@import 'layout';
@import 'animations';
@import 'mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: map-get($color, lightest);
  background: map-get($color, darkest);
  font-family: $font-stack;
  font-size: map-get($font-size, 20);
  font-weight: map-get($font-weight, normal);
  line-height: map-get($line-height, small);
  min-height: 100vh;
  position: relative;
  @include custom-scrollbar;

  @include tablet {
    font-size: map-get($font-size, 24);
  }
}

sup {
  position: relative;
  bottom: 10px;
  font-size: 16px;
}

.bold {
  font-weight: map-get($font-weight, bold);
}

// Component styling overrides

app-root {
  .core-button {
    padding: map-get($spacing, 2) 0;
    width: map-get($spacing, 128);
    color: map-get($color, darkest);
    background: map-get($color, lightest);
    font-family: $font-stack;
    font-size: map-get($font-size, 20);
    border: map-get($border, thin) solid map-get($color, lightest);
    border-radius: map-get($border, radius);

    &--primary {
      color: map-get($color, darkest);
      background: map-get($color, lightest);

      &:hover {
        background: lighten(map-get($color, lightest), 10%);
      }

      &:disabled {
        background: map-get($color, medium);
      }
    }

    &--secondary {
      color: map-get($color, lightest);
      background: transparent;

      &:hover {
        background: lighten(map-get($color, darkest), 10%);
      }

      &:disabled {
        color: map-get($color, medium);
      }
    }

    &:disabled {
      border-color: map-get($color, medium);
    }
  }

  .core-checkbox {
    --hover-color: #{map-get($color, medium)};
    --label-margin: #{map-get($spacing, 12)};
    --checkbox-color: #{map-get($color, lightest)};
    --checkmark-color: #{map-get($color, lightest)};
  }

  [data-level='1'] > .core-checkbox--checked,
  [data-level='1'] > .core-checkbox--indeterminate {
    --checkbox-color: #{map-get($color, lightest)};
    --checkmark-color: #{map-get($color, darkest)};
    --checkbox-background: #{map-get($color, lightest)};
  }

  [data-level='1'] > .core-checkbox > .core-checkbox__container {
    font-weight: bold;
  }

  .core-checkbox--unchecked {
    --checkbox-color: #{map-get($color, medium)};
    --checkmark-color: #{map-get($color, medium)};
    color: map-get($color, medium);
  }

  .core-search-input {
    &__field {
      padding-right: map-get($spacing, 32);
    }

    &__clear {
      width: map-get($spacing, 32);
      color: map-get($color, medium);
    }
  }
}
