@use 'sass:map';
@use 'modules' as styles;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  color: map.get(styles.$color, lightest);
  background: map.get(styles.$color, darkest);
  font-family: styles.$font-stack;
  font-size: map.get(styles.$font-size, 20);
  font-weight: map.get(styles.$font-weight, normal);
  line-height: map.get(styles.$line-height, small);
  position: relative;
  @include styles.custom-scrollbar;

  @include styles.tablet {
    font-size: map.get(styles.$font-size, 24);
  }
}

sup {
  position: relative;
  bottom: 10px;
  font-size: 16px;
}

.bold {
  font-weight: map.get(styles.$font-weight, bold);
}

.small-caps {
  margin-bottom: map.get(styles.$spacing, 8);
  font-size: map.get(styles.$font-size, 16);
  font-weight: map.get(styles.$font-weight, bold);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: map.get(styles.$color, medium);
}

// Component styling overrides

app-root {
  .core-button {
    padding: map.get(styles.$spacing, 2) 0;
    width: map.get(styles.$spacing, 128);
    color: map.get(styles.$color, darkest);
    background: map.get(styles.$color, lightest);
    font-family: styles.$font-stack;
    font-size: map.get(styles.$font-size, 20);
    border: map.get(styles.$border, thin) solid map.get(styles.$color, lightest);
    border-radius: map.get(styles.$border, radius);

    &--primary {
      color: map.get(styles.$color, darkest);
      background: map.get(styles.$color, lightest);

      &:hover {
        background: lighten(map.get(styles.$color, lightest), 10%);
      }

      &:disabled {
        background: map.get(styles.$color, medium);
      }
    }

    &--secondary {
      color: map.get(styles.$color, lightest);
      background: transparent;

      &:hover {
        background: lighten(map.get(styles.$color, darkest), 10%);
      }

      &:disabled {
        color: map.get(styles.$color, medium);
      }
    }

    &:disabled {
      border-color: map.get(styles.$color, medium);
    }
  }

  .core-checkbox {
    --checkbox-color-hover: #{map.get(styles.$color, medium)};
    --label-margin: #{map.get(styles.$spacing, 12)};
    --checkbox-border: #{map.get(styles.$color, lightest)};
    --checkmark-color: #{map.get(styles.$color, lightest)};
  }

  [data-level='1'] > .core-checkbox--checked,
  [data-level='1'] > .core-checkbox--indeterminate {
    --checkbox-border: #{map.get(styles.$color, lightest)};
    --checkmark-color: #{map.get(styles.$color, darkest)};
    --checkbox-color: #{map.get(styles.$color, lightest)};
  }

  [data-level='1'] > .core-checkbox > .core-checkbox__container {
    font-weight: bold;
  }

  .core-checkbox--unchecked {
    --checkbox-border: #{map.get(styles.$color, medium)};
    --checkmark-color: #{map.get(styles.$color, medium)};
    color: map.get(styles.$color, medium);
  }

  .core-search-input {
    &__field {
      padding-right: map.get(styles.$spacing, 32);
    }

    &__clear {
      width: map.get(styles.$spacing, 32);
      color: map.get(styles.$color, medium);
    }
  }
}
