/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
  position: relative;
  line-height: 1.3;
  overflow: hidden;
  margin: 0;
  font-family: 'Merriweather', sans-serif;
  font-size: 16px;
  color: var(--font-color);
}

input {
  font-size: 16px;
  padding: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

// Global CSS

:root {
  --font-color: #232221;
  --card-bg-light: #e9e2d9;
  --card-bg-dark: #cfc9c0;
  --leader-name: #de830c;
  --leader-ability: #654f32;
  --territory: #4ae262;
  --building: #ede021;
  --character: #6bcce2;
  --venture: #c679f1;
  --border-radius: 4px;
}

.container {
  padding: 0 8px;
}

// Component styling overrides

app-root {
  .core-search-input {
    .core-search-input__input {
      width: 100%;
      height: 100%;
    }
  }
}
