<h1>{{name}}</h1>
<h2 *ngIf="description">
	{{description}}.
</h2>
<h2>
	<em><strong>Dependencies: </strong>
		<ng-container *ngIf="dependencies?.length; else noneTemplate"></ng-container>
		<span *ngFor="let dependency of dependencies; last as last; trackBy: trackByFn">
			{{ dependency }}{{ !last ? ',' : '' }}
		</span>
		<ng-template #noneTemplate>
			<span>none</span>
		</ng-template>
	</em>
</h2>
<div class="wrapper"
	[class.wrapper--limited-width]="limitWidth"
	>
	<ng-content></ng-content>
</div>
<hr />
