@import "main";

.top {
  display: flex;
  flex-direction: column;
  margin-bottom: spacing(16);
}

.name {
  font-weight: font-weight(bold);
  @include hover;
}

.description {
  font-size: font-size(14);
  color: color($neutral, 6);
  margin-top: spacing(8);
}

.tags {
  margin-top: spacing(8);
}

.schedule {
  display: flex;
  flex-wrap: wrap;
  margin-top: spacing(8);

  app-checkbox {
    margin-right: spacing(16);
  }
}
