@import 'main';

.ui-section__toolbar {
  align-items: center;
  justify-content: flex-end;

  .title {
    margin-right: auto;
    font-weight: font-weight(bold);
    color: color($neutral, 4);
  }

  [ui-button]:not(:first-child) {
    margin-left: spacing(8);
  }
}

.ui-section__content {
  display: flex;
  flex-direction: column;

  li[app-planner-day] {
    flex-basis: 100%;
  }
}
