@import "main";

.app-section {
  display: grid;
  grid-template-rows:
    [toolbar] max-content
    [content] 1fr;
  overflow: hidden;
  height: 100%;

  &__toolbar {
    grid-row: toolbar;
    display: flex;
    padding: spacing(16);
  }

  &__content {
    grid-row: content;
    padding: spacing(16);
    padding-top: 0;
    overflow: auto;
    height: 100%;
  }
}
