<div class="container">

  <app-demo-component name="ButtonComponent"
    description="It's your basic button"
    [limitWidth]="true"
    >
    <button ui-button
      (click)="onButtonClick()"
    >
      primary
    </button>
    <button ui-button
      buttonStyle="secondary"
      (click)="onButtonClick()"
    >
      secondary
    </button>
    <button ui-button
      buttonStyle="ternary"
      (click)="onButtonClick()"
    >
      ternary
    </button>
    <p>button clicks: {{counter}}</p>
  </app-demo-component>

  <app-demo-component name="CheckboxComponent"
    description="Simple checkbox with three possible states: checked, unchecked, or indeterminate"
    >
    <ui-checkbox
      [(ngModel)]="checkboxState1"
    >
      This is {{ checkboxState1 ? 'a checked' : 'an unchecked' }} checkbox
    </ui-checkbox>

    <ui-checkbox
      [disabled]="true"
      [(ngModel)]="checkboxState2"
    >
      This is a disabled checkbox
    </ui-checkbox>
  </app-demo-component>

  <app-demo-component name="FontAwesomeComponent"
    description="FontAwesome provides an official component to make it easy to use its icons in an Angular app"
    [dependencies]="['FontAwesomeModule']"
    >
    <h2><a href="https://www.npmjs.com/package/@fortawesome/angular-fontawesome" target="_blank">Official API docs here (click me)</a></h2>
    <h2>FA icons can be imported at a component level as needed.</h2>
    <div><code>faApple</code>: <fa-icon [icon]="faApple"></fa-icon></div>
    <h2>Alternatively, they can be registered at a module level and then used freely within components of said module. See
      shared module constructor for an example.</h2>
  </app-demo-component>

  <app-demo-component name="KanbanBoardComponent"
    description="Series of columns/items that can be dragged and dropped. Leverages the Angular CDK"
    [dependencies]="['DragDropModule']"
    >
    <app-kanban-board
      [columns]="kitchenLocations"
      [config]="kanbanBoardConfig"
      >
    </app-kanban-board>
  </app-demo-component>

  <app-demo-component name="OptionsMenuComponent"
    description="Context menu with clickable options. Leverages the Angular CDK."
    [dependencies]="['OptionsMenuComponent']"
    >
    <!-- <button
      ui-button
      cdkOverlayOrigin
      #trigger="cdkOverlayOrigin"
      (click)="isOptionsMenuOpen = !isOptionsMenuOpen"
    >
      Open Menu ({{isOptionsMenuOpen}})
    </button>

    <ng-template
      cdkConnectedOverlay
      [cdkConnectedOverlayOrigin]="trigger"
      [cdkConnectedOverlayOpen]="isOptionsMenuOpen"
      (overlayOutsideClick)="isOptionsMenuOpen = false"
    >
      <ul app-options-menu>
        <li app-options-menu-item>
          Delete user
        </li>
        <li app-options-menu-item>
          Decorative option
        </li>
    </ul>
    </ng-template> -->

    <button ui-button
      [appOptionsMenuTrigger]="optionsMenu"
    >
      Click
    </button>

    <app-options-menu #optionsMenu>
      <li app-options-menu-item>
        Delete user
      </li>
      <li app-options-menu-item>
        Decorative option
      </li>
    </app-options-menu>
  </app-demo-component>
</div>
