<app-section *ngIf="tags$ | async as tags">
  <div class="app-section__toolbar">
    <h2 class="title">
      Tags ({{ tags.length }})
    </h2>
    <button app-button
      buttonStyle="primary"
      [disabled]="adding$ | async"
      (click)="startAdd$.next()"
    >
      New Tag
    </button>
    <app-inline-name-edit class="form"
      *ngIf="adding$ | async"
      (cancel)="finishAdd$.next()"
      (save)="onNewTagSave($event)"
    ></app-inline-name-edit>
  </div>
  <ul class="app-section__content tags">
    <li app-tag-card
      *ngFor="let tag of tags; trackBy: trackByFn"
      [id]="tag.id"
      [name]="tag.name"
      [meals]="tag.mealIds"
      [dishes]="tag.dishIds"
      (edit)="onTagEdit(tag.id, $event)"
      (delete)="onTagDelete(tag.id)"
    >
      {{ tag.name }}
    </li>
  </ul>
</app-section>
