@import 'main';

:host {
  display: block;
}

ui-card {
  padding: spacing(16);
}

.schedule {
  display: flex;
  flex-wrap: wrap;
  margin-top: spacing(8);

  ui-checkbox {
    margin-right: spacing(16);
  }
}
