<app-card>
  <app-dish-summary
    [id]="id"
    [name]="name"
    [description]="description"
    [link]="link"
    [tags]="tags"
    [menuIds]="menuIds"
    [mealIds]="mealIds"
    [usages]="usages"
  ></app-dish-summary>
  <div *ngIf="entryModels.length"
    class="schedule"
  >
    <app-checkbox *ngFor="let model of entryModels; trackBy: trackByFn"
      [ngModel]="model.checked"
      (ngModelChange)="dayChange.emit({ id, day: model.day, selected: $event })"
    >
      {{ model.day | slice : 0 : 3 }}
    </app-checkbox>
  </div>
</app-card>
